brotli
click
dash-core-components
dash-renderer
dash-html-components
dash-table
dash
ddtrace
flask-assets
flask-compress
flask
future
intervaltree
itsdangerous
jinja2
markupsafe
numpy
pandas
plotly
protobuf
python-dateutil
python-dotenv
pytz
retrying
six
sortedcontainers
tenacity
uwsgi
webassets
werkzeug
sklearn
flask_restful
scikit-image
matplotlib
sqlalchemy
kickscore
psycopg2
flask_cors
apscheduler
dash_bootstrap_components